<div class="container">
  <h2>レビュー詳細</h2>
  <%= flash[:notice] %>
  <div class="row">
      <div class="col mt-5">
        <div>
          <%= image_tag @review.image, size: "150x150" %>
        </div>
        <table class="table table-light table-hover table-inverse mt-3 h6">
        <tr>
          <th>デバイス名</th>
          <td><%= @review.name %></td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td><%= @review.category.name %></td>
        </tr>
        <tr >
          <th >メーカー</th>
          <td ><%= @review.maker %></td>
        </tr>
        <tr>
          <th>レビュー詳細</th>
          <td><%= @review.detail %></td>
        </tr>
        <tr>
          <th>評価</th>
          <td>
            <%= render"public/reviews/staticrate", review: @review %>
          </td>
        </tr>
        </table>
        <div><%= link_to "編集する", edit_admin_review_path(@review), class: "btn btn-success" %></div>
        <div class="mt-3">
          <h5><p>コメント件数：<%= @review.comments.count %></p></h5>
          <% @review.comments.each do |comment| %>
          <div class="d-flex align-items-center">
            <div class="p-2">
              <%= image_tag comment.user.get_profile_image(50,50) %>
              <div>
                <%= comment.user.name %>
              </div>
              <div><%= link_to "削除", review_comment_path(comment.review, comment), method: :delete %></div>
            </div>
            <div class="p-2"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
            <div class="p-2 flex-fill h5"><%= comment.comment %></div>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>