<div class="container px-3">
  <div class="row mx-auto mt-5">
    <div class="col-3 mt-5">
      <h4>カテゴリー検索</h4>
      <p><%= link_to "マウス", mouse_path %></p>
      <p><%= link_to "キーボード", keyboard_path %></p>
      <p><%= link_to "マウスパッド", mousepad_path %></p>
      <p><%= link_to "ヘッドセット", headset_path %></p>
      <p><%= link_to "モニター", monitor_path %></p>
    </div>
    <div class="col-9">
      <h2>投稿一覧（キーボード）</h2>
      <%= render "public/searches/search" %>
      <table class="table table-hover table-inverse table-borderless">
        <thead>
          <tr>
            <th></th>
            <th>デバイス名</th>
            <th>メーカー</th>
            <th>カテゴリー</th>
            <th>レビュー</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @keyboar.each do |review| %>
          <tr>
            <td><%= image_tag review.get_image(80, 80)%></td>
            <td><%= link_to review.name, review_path(review.id) %></td>
            <td><%= review.maker %></td>
            <td><%= review.category.name %></td>
            <td>
              <%= render"public/reviews/staticrate", review: review %>
            <td>
              <%= link_to "#{review.comments.count}", review_path(review.id) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @reviews %>
  </div>
</div>