<div class="container">
  <h2>レビュー詳細</h2>
  <%= flash[:notice] %>
  <div class="row">
      <div class="col-3 mt-5">
        <h2>ユーザー</h2>
        <%= render 'public/users/info', user: @user %>
      </div>
      <div class="col-9 mt-5">
        <div>
          <%= image_tag @review.get_image(200, 200)%>
        </div>
        <table class="table table-hover table-inverse table-borderless">
        <tr>
          <th>デバイス名</th>
          <td><%= @review.name %></td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td><%= @review.category.name %></td>
        </tr>
        <tr >
          <th >メーカー</th>
          <td ><%= @review.maker %></td>
        </tr>
        <tr>
          <th>レビュー詳細</th>
          <td><%= @review.detail %></td>
        </tr>
        <tr>
          <th>評価</th>
          <td>
            <%= render"public/reviews/staticrate", review: @review %>
          </td>
        </tr>
        </table>
        <div>
          <% if @review.user == current_user %>
            <%= link_to "編集する", edit_review_path(@review), class: "btn btn-success" %>
          <% end %>
        </div>
        <div>
          <p>コメント件数：<%= @review.comments.count %></p>
          <% @review.comments.each do |comment| %>
          <div class="d-flex align-items-center">
            <div class="p-2">
              <%= image_tag comment.user.get_profile_image(50,50) %>
              <div>
                <%= comment.user.name %>
              </div>
              <div>
                <% if comment.user == current_user %>
                  <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete %>
                <% end %>
              </div>
            </div>
            <div class="p-2 flex-fill"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
            <div class="p-2 flex-fill"><%= comment.comment %></div>
          </div>
          <% end %>
        </div>
        <div>
          <%= form_with model: [@review, @comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      </div>
  </div>
</div>