<div class="container px-5">
  <div class="row">
    <div class="col text-left mt-3">
      <h3>新規会員登録</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table class="table table-light table-hover table-inverse">
          <div class="form-group row">
            <tr>
              <th><%= f.label :name, "名前" %></th>
              <td class="pl-5"><%= f.text_field :name, autofocus: true, placeholder: "名前" %></td>
            </tr>
          </div>
          <div class="form-gourp row">
            <tr>
              <th><%= f.label :email, "メールアドレス" %></th>
              <td class="pl-5"><%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email" %></td>
            </tr>
          </div>
          <div class="form-group row">
            <tr>
              <th><%= f.label :password, "パスワード" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %>
              </th>
              <td class="pl-5"><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>
          </div>
          <div class="form-group row">
            <tr>
              <th><%= f.label :password_confirmation, "パスワード（確認用）" %></th>
              <td class="pl-5"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>
          </div>
          <tr>
            <th></th>
            <td class="pl-5"><%= f.submit "新規登録", class:"btn btn-success" %></td>
          </tr>
        </table>
      <% end %>
      <h3>既に登録済みの方</h3>
      <%= link_to "こちら",new_user_session_path(resource_name) %>からログインしてください
    </div>
  </div>
</div>