<%= render "layouts/header" %>
<div class="container px-5">
  <h2>ジャンル一覧・追加</h2>
      <%= flash[:notice] %>
      <!-- エラーメッセージ表示-->
      <% if @category.errors.any? %>
        <h3><%= @category.errors.count %>件のエラーが発生しました</h3><!--エラーメッセ-->
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <!-- エラーメッセージ表示-->
      <%= form_with(model: @category, url: admin_categories_path, method: :post) do |f| %>
        <%= f.label :カテゴリー名 %>
        <%= f.text_field :name %>
        <%= f.submit "新規登録", class: "btn btn-success" %>
      <% end %>
  <div class="row">
    <div class="col-md-9 mt-5">
      <table class="table table-hover tavle-bordere table-inverse" >
        <thead>
          <tr>
            <th>カテゴリー</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= link_to "編集する", edit_admin_category_path(category), class: 'btn btn-success' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>