<div class="container px-5">
  <div class="row">
    <div class="mx-auto text-left">
      <h3>
        <%= @user.name %>さんの会員情報編集
      </h3>
          <table class="table table-hover table-inverse">
            <tr>
              <th>会員ID</th>
              <td><%= @user.id %></td>
            </tr>
          </table>
        <%= form_with model: @user,url: admin_user_path(@user.id),method: :patch, local:true do |f| %>
          <table class="table table-hover table-inverse">
            <tr>
              <th><%= f.label :name, "氏名" %></th>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <th><%= f.label :email, "メールアドレス" %></th>
              <td><%= f.text_field :email %></td>
              <td></td>
            </tr>
            <tr>
              <th><%= f.label :is_deleted, "会員ステータス" %></th>
              <td>
                <%= f.radio_button :is_deleted, false %>
                <%= f.label :is_deleted, "有効" %>
              </td>
              <td>
                <%= f.radio_button :is_deleted, true %>
                <%= f.label :is_deleted, "退会" %>
              </td>
            </tr>
            <tr>
              <td><%= f.submit "変更を保存", class:'btn btn-success' %></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>