<div class="container px-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
      <h3>会員一覧</h3>
      <%= render "admin/searches/search" %>
      <table class="table rable-hover table-inverse">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted? %>
                <p>退会</p>
              <% else %>
                <p class="text-success"><strong>有効</strong></p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
