<table class ="table table-light table-hover table-inverse mt-3">
  <thead class="table-warning">
    <tr>
      <th></th>
      <th>名前</th>
      <th>フォロー</th>
      <th>フォロワー</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="h5">
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(80,80) %></td>
        <td><h4><%= link_to user.name, user_path(user.id) %></h4></td>
        <td>
          <%= link_to user_followings_path(user) do %>
            <i class="fas fa-user-check fa-lg px-2"></i>
            <%= user.followings.count %>
          <% end %>
        </td>
        <td>
          <%= link_to user_followers_path(user) do %>
            <i class="fas fa-users fa-lg px-2"></i>
            <%= user.followers.count %>
          <% end %>
        </td>
        <td><%= render "public/relationships/btn", user: user %></td>
      </tr>
      <% end %>
  </tbody>
</table>

